<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>My Website | About</title>
    <link rel="stylesheet" href="/static/css/app.css">
</head>
<body>
    <h1>Nathaniel Bedassie</h1>
    <p> I'm Nathaniel and I aspire to be an amazing web developer and data scientist. I also a semi-professional musician <em>(because I'm busy with school)</em>.<br>
    Check out my online portfolio <a href="https://bedassie-n.github.io">here</a>.
    </p>
</body>
</html>